# Dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Development
.env*
.vscode
/.idea
npm-debug.*
.reassure

# Build outputs
dist/
builds/
build-*.apk
build/

# Expo
.expo/
expo-env.d.ts

# EAS
.eas/

# iOS
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa

# Android
/android/

# System files
.DS_Store
*.log

# Cursor
.specstory/

# Google Services
# google-services/

# Plugins
!plugins/notification-service-extension/plugin/build
